@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@300;400;600;700&display=swap');

html, body {
  font-family: 'Noto Sans Thai', 'Inter', system-ui, -apple-system, 'Segoe UI', Roboto, 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    background-color: white;
}

@font-face {
  font-family: 'zzzTH';
  src: url("../public/font/Sound.ttf");
}

.app-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    width: 200px;
    background-color: #f7f7f7;
    color: black;
    padding: 0px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ddd;
    flex-shrink: 0;
}

.sidebar-header {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
}

.sidebar-nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 8px;
    border-radius: 3px;
    transition: background-color 0.1s;
}

.sidebar-nav a:hover {
    background-color: #e0e0e0;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: white;
    overflow-y: auto;
}

.page-title {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: black;
}

.modal-overlay {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.6);
          z-index: 1000;
        }

