.login-info {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  color: rgb(0, 0, 0);
  border-radius: 8px;
  border: solid 1px #ccc;
  width: 100%;
  height: auto;
  padding: 10px 12px;
  box-sizing: border-box;
  outline: none;
  background-color: #ffffff;
  display: block;
}

.login-info::placeholder {
  font-family: 'Inter', Arial, sans-serif;
  color: #bdbdbd;
}

.login-container {
  font-family: 'Inter', Arial, sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: none;
  width: 30vw;
  height: 80vh;
}

.login-button-container {
  border-radius: 1vw;
  color: rgb(202, 37, 37);
  gap: 1vw;
  display: flex;
  flex-wrap: wrap;
  max-width: 30vw;
}

.login-button {
  font-family: 'Inter', Arial, sans-serif;
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.1s;
}

.login-button:hover {
  background-color: #8eeef7;
}